.square {
  margin-left: 5%;
  margin-right: 5%;
  height: 50rem;
  margin-top: 2rem;
  margin-bottom: 2 rem;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 5%;
  /* transform: translateY(0); */
  animation: dissaSlide 3s;
}

@keyframes dissaSlide {
  from {
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

.current {
  color: red;
}
