@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  background-image: url("https://www.wallpapertip.com/wmimgs/28-285060_blue-mountain-theme-folder-tanjim-zip.jpg");
  margin: 0px;
}
.nav {
  /*Stops scroll bars from appearing*/
  width: 100vw;
  overflow: hidden;
  background-color: #021452;
  border-radius: 20px;
  vertical-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav a {
  width: 20%;
  float: left;
  color: white;
  text-align: center;
  padding: 30px 125px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #0a98ab;
}

.nav a.active {
  background-color: #0a98ab;
}
#topLine {
  height: 5px;
  width: 90%;
  background-color: #021452;
  border-radius: 5px;
  margin-top: 80px;
}

#bottomLine {
  height: 5px;
  width: 90%;
  background-color: #021452;
  border-radius: 5px;
  margin-top: 15px;
}

#container {
  display: flex;
  justify-content: center;
  position: relative;
}
#introText {
  width: 100%;
  margin-left: 10px;
  margin-top: 0%;
  font-size: 1.5em;
  text-align: center;
  font-family: "Roboto Slab", serif;
  color: whitesmoke;
  text-shadow: 3px 3px #0e1d26;
}

#nmImage {
  border-radius: 20px;
  margin-top: 5px;
  margin-left: 60px;
  border: inset #0c4345;
  margin-right: 10px;
}

#introPar {
  margin-right: 40px;
  font-size: 20px;
  color: whitesmoke;
  margin-top: 60px;
}

#introH1 {
  margin-bottom: 60px;
  font-size: 3em;
  margin-right: 50px;
}

#inside {
  margin-right: 60px;
  background-color: #021452;
  height: 2px;
}

@media screen and (max-width: 1150px) {
  #nmImage {
    position: absolute;
    top: -50px;
    width: 70%;
    border: unset;
    margin-top: 0%;
  }
  #introH1 {
    margin-top: 250px;
  }
}
